@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Variables for COLORS */

:root {
  /***** dark mode *****/

  /* Header */
  --header-bg-dark: #1f2937;

  /* Hover */
  --hover-dark: #ec925d;
  --hover-light: #ec925d;

  /* General */

  /* --primary-bg-light: #f4f1e5; */
  --primary-bg-light: #f1edda;
  --secondary-bg-light: #f4f1e8;
  /* #f4f1e1; */

  /* --primary-bg-light: #edd0ae; */

  --primary-text-dark: #f4f1e5;

  --primary-text-light: #1f2937;

  --tertiary-bg-dark: #323f4b;

  /* Button */

  --button-bg-dark: #ec925d;

  /* Matching Cards */

  --matched-card-green: #abe3ef;
  --matched-card-blue: #5da7ec;

  /* OLD */

  /* slate 300 */
  /* slate 800*/
  --primary-text-light: #1e293b;

  /* light mode */

  /* zinc 800 */
  --primary-bg-dark: #1f2937;
  /*  */
  /* zinc 600 */
  --secondary-bg-dark: #52525b;

  /* slate 200 */
  --secondary-text-dark: #e2e8f0;
  /* slate 100 */
  --primary-text-dark: #f1f5f9;
}

/* Remove Div Blue Color on MOobile */
* {
  -webkit-tap-highlight-color: transparent;
}

/* :Components*/

.navbar {
  background-color: rgb(254 252 23);
}
/* .navlink:hover { */
/* background-color: #1e293b; */
/* } */
/*  */
.landing_button {
  background-color: #ec925d;
}

.back_button {
  transition-duration: 400ms;
  fill: #ec925d;
}

.back_button:hover {
  opacity: 0.75;

  fill: #ec925b;

  transform: scale(1.1);
}

.nav_button {
  transition-duration: 400ms;
}

.nav_button:hover {
  transform: scale(1.04);
  /* transition: ease-in-out; */
}

/* Card Flipping Functionality */

/* .shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
} */

.slow {
  /* transition-duration: 500ms; */
  transition: 500s ease-in-out;
}

.fast {
  /* transition-duration: 200ms; */
  transition: 200s ease-in-out;
}

.card-container {
  position: relative;

  /* transition: 200s ease-in-out; */

  /* background-color: orange; */
}
.the-card {
  position: absolute;
  transition-duration: 400ms;

  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  /* background-color: yellow; */
}

.flip {
  -webkit-transform: rotateY(180deg);

  transform: rotateY(180deg);
}

.card-front {
  /* transition: 4000ms; */

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  /* background-color: #52525b; */
}
.card-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);

  transform: rotateY(180deg);
}

/* ***** */

/* 
.card {
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 200ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0px));
}

.card:hover {
  --translate-y: -5px;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
/* } */

.card .back {
  transform: rotateY(180deg);
}

/* End of Card Flipping */

/* Dialog Box */

.dialog_box {
  position: fixed;
  top: "0";
  bottom: "0";
  left: "0";
  right: "0";
  height: 100px;
  width: 300px;
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: lightblue;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
