@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Variables for COLORS */

body {
  padding: 0;
  margin: 0;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  background-color: #1e293b;
}

#__next {
  flex: 1 1 auto;
}

:root {
  /***** dark mode *****/

  /* Header */
  --header-bg-dark: #1f2937;

  /* Hover */
  --hover-dark: #ec925d;
  --hover-light: #ec925d;

  /* General */

  /* --primary-bg-light: #f4f1e5; */
  --primary-bg-light: #f1edda;
  --secondary-bg-light: #f4f1e8;
  /* #f4f1e1; */

  /* --primary-bg-light: #edd0ae; */

  --primary-text-dark: #f4f1e5;

  --primary-text-light: #1f2937;

  --tertiary-bg-dark: #323f4b;

  /* Button */

  --button-bg-dark: #ec925d;

  /* Matching Cards */

  --matched-card-green: #abe3ef;
  --matched-card-blue: #5da7ec;

  /* OLD */

  /* slate 300 */
  /* slate 800*/
  --primary-text-light: #1e293b;

  /* light mode */

  /* zinc 800 */
  --primary-bg-dark: #1f2937;
  /*  */
  /* zinc 600 */
  --secondary-bg-dark: #52525b;

  /* slate 200 */
  --secondary-text-dark: #e2e8f0;
  /* slate 100 */
  --primary-text-dark: #f1f5f9;
}

/* Remove Div Blue Color on MOobile */
* {
  -webkit-tap-highlight-color: transparent;
}

/* :Components*/

.svg {
  min-width: 16px;
  min-height: 16px;
}

.navbar {
  background-color: rgb(254 252 23);
}
/* .navlink:hover { */
/* background-color: #1e293b; */
/* } */
/*  */
.landing_button {
  background-color: #ec925d;
}

.back_button {
  transition-duration: 400ms;
  fill: #ec925d;
}

.back_button:hover {
  opacity: 0.75;

  fill: #ec925b;

  transform: scale(1.1);
}

/* Card Flipping Functionality */

.slow {
  /* transition-duration: 500ms; */
  transition: 500s ease-in-out;
}

.fast {
  /* transition-duration: 200ms; */
  transition: 200s ease-in-out;
}

.card-container {
  position: relative;

  /* transition: 200s ease-in-out; */

  /* background-color: orange; */
}
.the-card {
  position: absolute;
  transition-duration: 300ms;

  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  /* background-color: yellow; */
}

.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-front {
  /* transition: 4000ms; */

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  /* background-color: #52525b; */
}
.card-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);

  transform: rotateY(180deg);
}

.card .back {
  transform: rotateY(180deg);
}

/* End of Card Flipping */

/* Dialog Box */

.dialog_box {
  position: fixed;
  top: "0";
  bottom: "0";
  left: "0";
  right: "0";
  height: 100px;
  width: 300px;
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: lightblue;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Spinner */

/* I took this code from lukehaas.me */

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #ec925b;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* *************** */

/* new button */
.push-function {
}
/* CSS */
.button-74 {
  /* background-color: #fbeee0; */
  /* border: 2px solid #422800; */
  /* border-radius: 30px; */
  /* box-shadow: #422800 4px 4px 0 0; */
  /* color: #422800; */
  cursor: pointer;
  display: inline-block;
  /* font-weight: 600; */
  /* font-size: 18px; */
  /* padding: 0 18px; */
  /* line-height: 50px; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.button-74:hover {
  /* background-color: #fff; */
}

.button-74:active {
  /* box-shadow: #422800 2px 2px 0 0; */
  box-shadow: 0 0px 0px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.nav_button {
  transition-duration: 400ms;
  box-shadow: 0 5px 5px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.nav_button:hover {
  transform: scale(1.02);
  /* transition: ease-in-out; */
}

.nav_button:active {
  /* box-shadow: #422800 2px 2px 0 0; */
  box-shadow: 0 0px 0px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transform: translate(2px, 2px);
}
